.pieChart {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}

@media (max-width: 400px) {
  .pieChart {
    width: 250px;
    height: 250px;
  }
} 